.alert {
    color: var(--mdc-theme-error, #d50000)
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.title {
    text-decoration: underline;
    margin-bottom: 0;
}

.firstName, .lastName, .password, .username {
    margin-top: 1rem;
}

.submit-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 50px;
    width: 100%;
}