<div class="terminal-container">
  <div class='fakeScreen'>
    <p class='shell-script' style='color: #00FF41' tabindex="0">
      {{'ABOUT.WELCOME' | translate}}&#64;MacBook-Pro ~ $&nbsp;<span style='color: white'>{{'ABOUT.INTRO' | translate}} Joe!</span>
    </p>
    <p class='shell-script' style='color:white'>>&nbsp;<span class='shell-script' style='color: #E923F4' tabindex="0">cat
      <a style='color: #E923F4' href="../../assets/Resume.pdf">
        "{{'ABOUT.RESUME' | translate}}"
      </a>
    </span>
    </p>
    <p class='shell-script' style='color: whitesmoke' tabindex="0">Freelance Software Developer: 2/01/2025, 12:00:00PM - <span id="currentTime" style='color: #00FF41'></span></p>
    <p class='shell-script' style='color: #FF5F1F' tabindex="0">[Sabbatical: July 2022 - January 2025: <span class='shell-script' tabindex="0">I quit my job at InterSystems to travel around the world through seventeen countries and fulfill a lifelong dream. Though out of the industry, I stayed active coding maintaining my Angular website, solving leetcode, learning AI tools, etc.]</span>
    </p>
    <p class='shell-script' style='color: #CCFF00' tabindex="0">{{'ABOUT.WORK' | translate}} InterSystems Corporation: July 2019 - July 2022</p>
    <p class='shell-script' style='color: #00ffff' tabindex="0">Cornell {{'ABOUT.SCHOOL' | translate}} '19.</p>
    <p class='shell-script' style='color: white'>
      <a style='color: #BF55EC' href='mailto:jnech16@gmail.com'>
        [?] {{'ABOUT.EMAIL' | translate}}: jnech16&#64;gmail.com
      </a>
    </p>
    <p class='shell-script' style='color: white'>>
      <span class='cursor' style='color: white'>_</span>
    </p>
    <br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
  <div class="separator"></div>
  <div class="overallDiv">
    <div class="bottomImage"></div>
  </div>
</div>

