.application-shell-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar {
  z-index: 1;
}

.hamburger-menu {
  margin: 0px !important;
  font-size: 24px !important; 
  height: fit-content !important;
  width: fit-content !important;
}

.sidenav-container {
  flex: 1;
}

.sidenav-content {
  display: flex;
  height: 100%;
  width: 100%;
  text-align: center;
}

.sidenav {
  position: absolute;
  top: 0;
  bottom: 0;
}

.sidenav-header {
  position: relative;
  justify-content: center;
  display: flex;
  padding: 10px;
}

.light-mode-header {
  background-image: linear-gradient(to top right, #f3f1ef, #67809f);
}

.dark-mode-header {
  background-image: linear-gradient(to top right, #455a64, #67809f);
}

.sidenav-links {
  margin: 10px;
}

h1.app-name {
  margin-left: 8px;
}

.linked-in-link {
  text-decoration: none;
  color: #f3f1ef;
  display: flex;
}

.links-logos-container {
  height: calc(95vh - 10px);
  overflow: hidden;
}

.menu-item {
  font-size: 1.15em !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.profile-container {
  padding: 5px;
  display: flex;
}

.profile-picture {
  height: 100px;
  margin-right: 10px;
  width: 100px;
  border-radius: 50%;
}

.side-logos-mobile {
  font-size: 2rem;
}

.icon {
  padding: 0 0 0 2%;
  cursor: pointer
}

.icon-link {
  text-decoration: none;
  color: inherit;
}

.sidenav-left {
  width: 70%;
  height: 100%;
  float: left;
}

.sidenav-right {
  float: left;
  width: 30%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sidenav-right-lightmode {
  background-color: #e8ecf1;
}

.sidenav-right-darkmode {
  background-color: #2979ff;
}

.signature {
  font-family: 'Noto Sans', cursive;
  font-size: 1.25rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.signature-mobile {
  font-size: 1.5rem;
}

.signature-container {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spacer {
  flex: 1 1 auto;
}

.spacer-sidenav {
  padding: 20px;
  margin: 20px;
}

.footer {
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

.footer-lightmode {
  background-color: #abb7b7;
}

.footer-darkmode {
  background-color: #455a64;
}

.footer-text {
  font-size: 13px;
}

