<div
  [class.m2app-dark]="darkMode"
  class="application-shell-container"
  [class.is-mobile]="mobileQuery.matches"
>
  <!-- HEADER -->
  <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
      <a mat-button (click)="snav.toggle()" (keydown.enter)="snav.toggle()">
        <mat-icon class="hamburger-menu">menu</mat-icon>
      </a>
      <span class="spacer"></span>
      <!-- icons for changing the theme to dark mode, translation of the page-->
      <mat-icon *ngIf="darkMode" (click)="onModeChange()" (keyup.enter)="onModeChange()" class="icon" tabindex="0">nights_stay</mat-icon>
      <mat-icon *ngIf="!darkMode" (click)="onModeChange()" (keyup.enter)="onModeChange()" class="icon" tabindex="0">wb_sunny</mat-icon>
      <mat-icon (click)="openDialog()" (keydown.enter)="openDialog()" class="icon" tabindex="0">translate</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- SIDENAV -->
  <mat-sidenav-container
    class="sidenav-container"
    [ngClass]="mobileQuery.matches ? 'sidenav-container-mobile' : ''"
  >
    <mat-sidenav
      class="sidenav"
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      [opened]="!mobileQuery.matches"
      (click)="snav.toggle()"
    >
      <div
        class="header"
        [ngClass]="!darkMode ? 'light-mode-header' : 'dark-mode-header'"
      >
        <a class="linked-in-link" href="https://www.linkedin.com/in/joseph-nechleba-594ba9103/">
          <div class="profile-container">
            <img class="profile-picture" src="../../assets/images/linkedIn.jpeg" alt="Profile Picture"/>
          </div>
          <div  class="signature-container">
            <p class="signature" [ngClass]="mobileQuery.matches ? 'signature-mobile' : ''">
              @Joseph Nechleba
            </p>
          </div>
        </a>
      </div>
      <div class="links-logos-container">
        <div class="sidenav-left">
          <div class="spacer-sidenav"></div>
          <mat-nav-list>
            <a mat-list-item routerLink=".">
              <span class="menu-item">
                {{'MENU.HOME' | translate}}
              </span>
            </a>
            <a mat-list-item routerLink="about">
              <span class="menu-item">
                {{'MENU.ABOUT' | translate}}
              </span>
            </a>
            <a mat-list-item routerLink="projects">
              <span class="menu-item">
                {{'MENU.PROJECTS' | translate}}
              </span>
            </a>
            <a mat-list-item href="../../assets/UpdatedResume.pdf">
              <span class="menu-item">
                {{'MENU.RESUME' | translate}}
              </span>
            </a>
          </mat-nav-list>
        </div>
        <div
          class="sidenav-right"
          [ngClass]="!darkMode ? 'sidenav-right-lightmode' : 'sidenav-right-darkmode'"
        >
          <a class="icon-link" href="https://www.linkedin.com/in/joseph-nechleba-594ba9103" aria-label="linkedin">
            <i class="side-logos-mobile fab fa-linkedin"></i>
          </a>
          <a class="icon-link" href="https://github.com/jnech1997" aria-label="github">
            <i class="side-logos-mobile fab fa-github-alt"></i>
          </a>
          <a class="icon-link" href="https://earth.google.com/web/@35.83920948,-77.42830371,-543.98326699a,5049126.93757474d,35y,-0h,0t,0r" aria-label="location">
            <i class="side-logos-mobile fas fa-globe"></i>
          </a>
          <a class="icon-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" aria-label="youtube">
            <i class="side-logos-mobile fab fa-youtube"></i>
          </a>
        </div>
      </div>
      <!-- FOOTER -->
      <div
        class="footer"
        [ngClass]="!darkMode ? 'footer-lightmode' : 'footer-darkmode'"
      >
        <p class="footer-text">&#169; 2022</p>
      </div>
    </mat-sidenav>

    <!-- CONTENT OUTLET -->
    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
