:host {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #04080F
}

span {
  color: #fff;
  font-weight: bold;
}

.description {
  color: #4b77be;
}

.links {
  text-decoration: none;
}

.pokemon-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

.square {
  align-items: flex-start;
  flex-basis: 20%;
  margin: 3%;
  border-radius: 25px;
}

.pokemon-image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

@media (max-width: 600px) {
  .pokemon-container {
    display: block;
  }

  .square {
    width: 100%;
    flex: 1;
    margin: 1.66%;
    margin-left: 0;
    margin-right: 0;
    border-radius: 25px;
  }
}

