:host {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a {
  color: #04080F
}

span {
  color: #fff;
  font-weight: bold;
}

.description {
  color: #4b77be;
}

.links {
  text-decoration: none;
}

.pokemon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

.search-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
}

.search-full-width {
  width: 100%;
}

.no-results {
  color: #888;
  padding: 16px;
  text-align: center;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 20%;
  margin: 3%;
  border-radius: 25px;
}

.pokemon-card {
  border: 10px solid #c7a946;
  max-width: 320px;
  margin-bottom: 20px;
}

.pokemon-image {
    height: 300px;
    width: 300px;
}

.pokemon-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.team-advanced {
  display: flex; 
  flex-direction: row; 
  margin-left: auto; 
  margin-right: 3%; 
  height: 56px;
}

@media (max-width: 900px) {
  .pokemon-container {
    display: block;
  }

  .square {
    width: 100%;
    flex: 1;
    margin: 1.66%;
    margin-left: 0;
    margin-right: 0;
    border-radius: 25px;
  }

  .pokemon-card:hover {
    transform: scale(1);
    cursor: pointer;
  }

  .team-advanced {
    display: flex; 
    flex-direction: row; 
    margin-left: 3% !important; 
    margin-bottom: 3%;
    margin-right: 3%; 
    height: 56px;
  }
}

