:host {
    width: 100%;
    height: 100%;
}

.information-card {
    margin: 1rem;
}

#graphContainer {
    height: 100%;
    margin: 1rem;
    background-color: #FAF9F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    color: black;
}

.dataVisual {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.text-align-left {
    text-align: left;
}
