a {
  color: #04080F
}

span {
  color: #fff;
  font-weight: bold;
}

.description {
  color: #4b77be;
}

.links {
  text-decoration: none;
}

.projects-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.square {
  align-items: flex-start;
  flex-basis: 20%;
  margin: 3%;
  border-radius: 25px;
}

.table-cell > a > img {
  border-radius: 25px;
}

.table-cell > a > img:hover {
  transform: scale(1.1);
}

@media (max-width: 1200px) {
  .desktopOnly {
    display: none;
  }
}

@media (max-width: 600px) {
  .projects-container {
    display: block;
  }

  .desktopOnly {
    display: none;
  }

  .square {
    width: 100%;
    flex: 1;
    margin: 1.66%;
    margin-right: 0;
    margin-left: 0;
    border-radius: 25px;
  }
}

